    *{
      margin: 0;
      padding: 0;  
    }
    
    .bg_blue{
      background: #313A5F;
    }
    .wrapper{
      width: 900px;
      margin-inline: auto;
       }

     .nav_menu{
      padding-top: 30px;
      display: flex;
        gap: 40px;
        list-style: none;
        color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal; 
     }
     .header_section{
      display: flex;
      justify-content: center;
      gap: 60px;
     }
     .header_section__title{
      padding-top: 20px;
        color: #FFF;
        font-family: Inter;
        font-size: 74px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
     }
     .header_section__text{
        color: #FFF;    
        text-align: justify;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 136.295%; 
     }

     .header_section__photo{
       padding-top: 20px;
        width: 475px;
        height: 376px; 
     }

     .section{ 
      background: #F1F1F1; 
     }
     .portfolio_section__text{
      color: #000;
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
   }

     .portfolio_section__name{

        color: #000;
        font-family: Inter;
        font-size: 74px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
     }
      .portfolio_section__right{
         padding-top: 60px;
      }
        .portfolio_section__photo{
            width: 570px;
            height: 414px; 
        }
        .text_portfolio{
            border-bottom: 2px solid   #313A5F;;
            font-weight: normal; 
            padding-bottom: 3px
        }

        .portfolio_section__btn{
         cursor: pointer;
         border: 2px solid #313A5F;
            color: #FFF;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border-radius: 44px;
            background: #313A5F; 
            height: 45px;
            width: 176px;
            margin-top: 10px;
        }
        .aboutmi_section__name{
          padding-top: 20px;
          color: #FFF;
          font-family: Inter;
          font-size: 74px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        .aboutmi_section__text{
          margin-top: 15px;
          color: #FFF;
          text-align: justify;
          font-family: Inter;
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          line-height: 136.295%; 
        }

       .aboutmi_section__photo{
         padding-top: 120px;
       }
       
       .wrapper_project{
        width: 900px;
        margin-inline: auto;
       }