* {
  margin: 0;
  padding: 0;
}

.bg_blue {
  background: #313a5f;
}
.wrapper {
  width: 900px;
  margin-inline: auto;
}

.nav_menu {
  padding-block: 45px;
  display: flex;
  gap: 40px;
  list-style: none;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.padding-block-100 {
  padding-block: 112px;
}
.menu_link {
  color: inherit;
  text-decoration: none;
}
.header_section {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.header_section__title {
  padding-bottom: 25px;
  padding-block: 10px;
  color: #fff;
  font-family: Inter;
  font-size: 74px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header_section__text {
  color: #fff;
  text-align: justify;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 136.295%;
}

.header_section__photo {
  width: 475px;
  height: 376px;
}

.portfolio {
  margin-top: 150px;
  margin-bottom: 150px;
}
.portfolio__title {
  font-size: 74px;
  font-weight: 500;
  margin-bottom: 100px;
}
.portfolio__template {
  display: flex;
  align-items: center;
  margin-bottom: 89px;
}
.portfolio__option {
  font-size: 32px;
  width: 570px;
  margin-right: 407px;
}
.portfolio__template__arrow {
  display: flex;
  gap: 24px;
}
.portfolio__arrow__img {
  width: 55px;
  height: 25px;
}
.portfolio__info {
  display: flex;
}
.portfolio__img {
  width: 570px;
  height: 414px;
  margin-right: 75px;
}
.portfolio__skill {
  font-size: 32px;
  border-bottom: 2px solid black;
  margin-bottom: 35px;
}
.portfolio__btn {
  margin-top: 40px;
  padding: 20px 50px;
  border-radius: 44px;
  background-color: #313a5f;
  color: white;
  font-size: 24px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
.portfolio__btn:hover {
  background-color: #414c79;
}
.container {
  width: 1120px;
  margin: auto;
}
.aboutmi_wrapper {
  width: 900px;
  margin-inline: auto;
}
.aboutmi_section {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.aboutmi_name {
  padding-top: 20px;
  color: #fff;
  font-family: Inter;
  font-size: 74px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.aboutmi_text {
  margin-top: 15px;
  color: #fff;
  text-align: justify;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 136.295%;
}

.aboutmi_photo {
  padding-top: 120px;
}

.wrapper_project {
  width: 900px;
  margin-inline: auto;
}
.conteiner{
  width: 1120px;
  margin: auto;
}
.contact_wrapper {
  padding: 150px;
}
.contact_title {
  font-size: 74px;
  font-weight: 500;
  margin-bottom: 100px;
}
 .textcenter{
  text-align: center;
 }
.contact_text {
  font-size: 32px;
  margin-bottom: 50px;
}
.contact_input {
  width: 820px;
  padding: 20px 0 20px 40px;
  border: 2px solid #313A5F;
  border-radius: 58px;
  margin-bottom: 35px;
}
.contact_btn:hover{
  background-color: #414C79;
}
.contact_btn {
  display: flex;
  width: 750px;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 58px;
  border: 2px solid #313a5f;
  background: #313a5f;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  margin-left: 25px;
}
.contact__text {
  margin-top: 50px;
  text-align: center;
  font-size: 32px;  
}
.menu {
  display: flex;
  justify-content: space-between;
  margin: 68px;
  list-style: none;
  font-size: 34px;
  gap: 60px;
}
.menu_line {
  color: inherit;
  text-decoration: none;
}
.bg-grey{
  background: #F1F1F1; 
}